// GRID DEFINITION
.header-content {
  display: grid;
  grid-template-areas: "main image";
  grid-template-columns: 3fr auto;
  padding: 1rem 10rem;
  place-items: center;
}

.user_input {
  padding: 10px;
  font-family: "Montserrat";
  font-weight: 500;
  outline: none;
  border: 2px solid lightgrey;
  background: #fff;
}

.ap-input-icon svg {
  fill: #7952cf;
}

.btn-find {
  padding: 0 20px;
  margin-left: 5px;
  border-radius: 3px;
  color: #7952cf;
  outline: none;
  background: #fff;
  border: 2px solid lightgray;
  cursor: pointer;
  transition: 1s;
}

.btn-find:hover {
  background: #4717b0;
  border: 2px solid #4717b0;
  color: #fff;
}

.header-content img {
  grid-area: image;
  width: 800px;
}

.header-content .hero {
  grid-area: main;
  max-width: 85%;
}

// SPACING DEFINITION
.input-form {
  display: flex;
  width: 400px;
}

.header-content .hero h1 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 700;
  color: #7952cf;
  text-rendering: optimizeLegibility;
}

.header-content .hero p {
  font-family: "Montserrat";
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 85%;
  margin: 15px 0;
}
