<main class="header-content">
  <div class="hero">
    <div class="hero-content">
      <h1>Find properties or leave reviews</h1>
      <p>Make informed decisions before renting or buying a property.</p>
      <div class="search-form">
        <%= form_tag properties_find_path, id: "review-form", class: "input-form", method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "user_input",
        onchange: "this.form.submit();",
        placeholder: "Find your next place to stay"
        %>
        <button class="btn-find">
          <i class="fas fa-arrow-right"></i>
        </button>
        <% end %>
      </div>
    </div>
  </div>
  <%= image_tag "office_work_green.svg" %>
</main>