<main>
  <!-- Hero section -->
  <div class="header-content">
    <h1>Find a property you love</h1>
    <p>Find your next place to stay.</p>
  </div>
  <!-- Search form section -->
  <div class="search-form">
    <div class="form-group">
      <%= form_tag nil, id: "main-form", method: :get do %>
      <%= text_field_tag :query, params[:query], class: "search-input",
      placeholder: "Type a property address", required: true %>
      <button id="find" class="btn-find">
        <i class="fas fa-search"></i>
      </button>
      <% end %>
    </div>
  </div>
</div>
</main>

