<main class="header-content">
  <div class="hero">
    <div class="hero-content">
      <h1>Find your next <span>property</span></h1>
      <p>Find a place to stay or leave a review.</p>
      <div class="search-form">
        <%= form_tag properties_find_path, id: "review-form", class: "input-form", method: :get do %>
        <%= text_field_tag :query,
        params[:query],
        class: "user_input",
        onchange: "this.form.submit();",
        placeholder: "Find your next place to stay"
        %>
        <button class="btn-find">
          <i class="fas fa-search"></i>
        </button>
        <% end %>
      </div>
    </div>
    
  </div>
  <%= image_tag "navigation-walking.svg" %>
  <!-- <%= image_tag "navigation.svg" %> -->
</div>
<!-- Search form section -->
</main>
