// Import your components CSS files here.
@import "alert";
@import "navbar_home";
// @import "footer";
@import "card";
@import "cards";
// @import "banner";
@import "buttons";
@import "map";
@import "card-review";
@import "signin";
@import "signup";
@import "user-reviews";
@import "edit-profile";

/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

/* General website CSS Reset */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: #f8f8f8;
}

ul,
li {
  text-decoration: none;
  list-style: none;
}

a {
  text-decoration: none;
}
